{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content_title %}

{% endblock %}



{% block content %}
<div class="card-deck">
<a href="/vegetables">
  <div class="card">
      <img src="https://dtgxwmigmg3gc.cloudfront.net/imagery/assets/derivations/icon/256/256/true/eyJpZCI6ImEwYWMwMjkxODllMTA3NzAwOTM4N2FmMWZhZDMzMGMwLmpwZyIsInN0b3JhZ2UiOiJwdWJsaWNfc3RvcmUifQ?signature=f5f0d6446ae04eefdb4e495666df29e7dfd1577f0e4436a6b36fae3250bf2f5d" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style = "text-align:center;">Vegetables</p>
      </div>
  </div></a>
  <a href="/fruits">
  <div class="card">
    <img src="https://firecore.com/sites/default/files/styles/image_responsive/public/pictures/picture-273344-1461155352.jpg?itok=hx-m-OcJ"
         class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" style = "text-align:center">Fruits</p>
    </div>
  </div></a>
</div>

{% endblock %}